h1 {
  color: #ff7f50;
}
h3 {
  color: #800080;
}
h2 {
  color: green;
}
@media screen {
  .myclass {
    color: blue;
  }
}
@media screen and (min-width: 1024px) {
  .myclass {
    color: green;
  }
}
@media mytext {
  .myclass {
    color: black;
  }
}
